@import '../../../../../core/index.scss';

.forgetPassContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  .forgetInnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
  }
  :global([class*='ant-btn']) {
    background-color: #FF4B2B;
  }
}